.container{
	margin-top: 90px;
	margin-bottom: 60px;
}
.navbar{
	padding-left: 4.5%;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}
.btn{
	background-color: #C0392B;
	border-color: #C0392B;
}
.btn:hover{
	background-color: #fff;
	color: #C0392B;
	border-color: #C0392B;

}
footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}