.container{
	margin-top: 90px;
	margin-bottom: 60px;
}
.navbar{
	padding-left: 4.5%;
}
.btn, #cek{
	background-color: #C0392B;
	border-color: #C0392B;
}
.btn:hover, #cek:hover{
	background-color: #C0392B;
	border-color: #C0392B;
	opacity: 0.8;
}
h3{
	text-align: center;
}
.kembali{
	color: #C0392B;
}
.row{
	margin-top: 20px;
}
.cari{
	margin-left: 20%;
	margin-right: 100px;
}
.cari.urutkan{
	display: inline-block;
}
#statistik{
	color: #C0392B;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}
h6{
	position: fixed;
	right: 4.5%;
	color: grey;
}
footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}