#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#judul{
	color: #C0392B;
}
#daftar.btn{
	background-color: white;
	color: #C0392B;
	font-size: 18px;
}
#menu.nav-item{
	color: #C0392B;
}
.container{
	margin-bottom: 20px;
}
h1{
	font-size: 36px;
	margin-bottom: 30px;
}
#buat.nav-link{
	background-color: #C0392B;
}
#laporan.nav-link{
	color: #C0392B;
}
p{
	margin: 0px;
}
.profil{
	float: left;
	border-radius: 50%;
	width: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
}
#isi{
	margin-top: 15px;
}
hr{
	margin-top: 20px;
}
.status{
	display: inline;
}
.detail{
	float: right;
	display: inline;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
	cursor: pointer;
  	position: fixed;
  	bottom: 35px;
  	right: 10px;
  	width: 50px;
}

/* The popup chat - hidden by default */
.chat-popup {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

/* Add styles to the form container */
.form-container {
	width: 300px;
	height: 500px;
  	padding: 10px;
  	background-color: white;
}
.form-container textarea {
  width: 100%;
  bottom: 0px;
  background: #f1f1f1;
  height: 70px;
  width: 220px;
}
.cancel{
	background-color: white;
}
.username{
	margin-left: 100px;
}
.batas{
	size: 3px;
	width: 100%;
	margin-top: 10px;
	color: #C0392B;
}
.comment{
	position: fixed;
	bottom: 0px;
}
.comment .btn {
	display: inline;
	margin-bottom: 62px;
	height: 70px;

}
.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}