#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#menu.nav-item{
	color: #C0392B;
}
#cek.nav-link{
	background-color: #C0392B;
}
#stat.nav-link, #kirim.nav-link{
	color: #C0392B;
}
#tombol-sort.btn, #tombol-filter.btn, #lihat, #ubah{
	background-color: #C0392B;
	color: white;
	border: #C0392B;
}
#tombol-filter.btn{
	padding: 0px 23px 0px 23px;
}
#filter-sort {
	margin-top: 10px;
}
#laporan{
	margin-top: 10px;
}
#proses, #selesai {
	display: inline-block;
}
.gambar{
	width: 80px;
	border-radius: 50%;
}
li{
	list-style-type: none;
}
.nama{
	color: grey;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	border-radius: 5px;
}
.nama:hover{
	text-decoration: none;
	color: #C0392B;
}

.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}