.container{
	margin-top: 70px;
	margin-bottom: 60px;
}
.navbar{
	padding-left: 4.5%;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}
form{
	padding: 0% 5% 0% 5%;
	margin-top: 20px;
}
h2{
	text-align: center;
	margin-top: 10px;
	color: grey;
}
select{
	display: block;
}
li{
	list-style-type: none;
}
#statistik{
	background-color: #C0392B;
}
#statistik:hover{
	opacity: 0.5;
}
#cek{
	color: #C0392B;
}
.btn{
	background-color: #C0392B;
	border-color: #C0392B;
	margin-top: 30px;
}
.gambar{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 15%;
}
.akun{
	position: fixed;
	right: 4.5%;
	color: grey;
}

footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}