.container{
	margin-top: 70px;
	margin-bottom: 60px;
}
.navbar{
	padding-left: 4.5%;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}
#cek{
	background-color: #C0392B;
}
#cek:hover{
	opacity: 0.5;
}
#statistik{
	color: #C0392B;
}
.akun{
	position: fixed;
	right: 4.5%;
	color: grey;
}
.profil{
	width: 120px;
	border-radius: 50%;
}
.btn{
	background-color: #C0392B;
	border-color: #C0392B;
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn:hover{
	background-color: #C0392B;
	opacity: 0.5;
	border-color: #C0392B;
}
.btn:visited{
	background-color: #C0392B;
}
.gambar{
	width: 100%;
	margin-bottom: 10px;
}
h5, .kembali{
	margin-top: 20px;
	margin-bottom: 30px;
	color: #C0392B;
}
.kembali:hover{
	opacity: 0.5;
	text-decoration: none;
	color: #C0392B;
}
h3{
	color: grey;
	text-align: center;
}
li{
	list-style-type: none;
}

footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}