#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#menu.nav-item{
	color: #C0392B;
}
#cek.nav-link{
	background-color: #C0392B;
}
#stat.nav-link, #kirim.nav-link{
	color: #C0392B;
}
#tombol-sort.btn, #tombol-filter.btn, #lihat, #ubah{
	background-color: #C0392B;
	color: white;
	border: #C0392B;
}
#kembali{
	color: #C0392B;
	text-decoration: none;
	margin-top: 5px;
	display: block;
}
li{
	list-style-type: none;
}
.profil {
	width: 80px;
	border-radius: 50%
}
#tombol-filter.btn{
	padding: 0px 23px 0px 23px;
}
#profil-pelapor.btn{
	text-decoration: none;
	background-color: #2DC1E1;
	border-color: #2DC1E1;
	color: white;
}
.gambar{
	width: 100%;
	margin-top: 20px;
}

.nama-infrastruktur{
	text-align: center;
	color: grey;
	margin-top: 10px;
}
#tombol{
	margin: 10px 0px 10px 0px;
	display: inline;
}
table{
	margin-top: 10px;
	margin-bottom: 10px;
	color: grey;
}
tr {
	margin: 5px;
}
.btn{
	margin: 0px 10px 0px 10px;
	background-color: #C0392B;
	border-color: #C0392B;
	color: white;
}
.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}