#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#menu.nav-item{
	color: #C0392B;
}
#kirim.nav-link{
	background-color: #C0392B;
}
#stat.nav-link, #cek.nav-link{
	color: #C0392B;
}
#sort.btn, #filter.btn, #kolektif.btn, #kirim{
	background-color: #C0392B;
	color: white;
	border: #C0392B;
}
#kirim.btn{
	position: fixed;
	right: 10%;
}
#filter.btn{
	padding: 0px 23px 0px 23px;
}
#kolektif.row{
	margin-top: 20px;
}
select{
	border-color: grey;
	border-radius: 5px;
}
.gambar{
	width: 80px;
	border-radius: 50%;
}
.nama{
	color: grey;
	font-weight: bold;
}
.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}