.container{
	margin-top: 90px;
	margin-bottom: 60px;
}
.navbar{
	padding-left: 4.5%;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}
h3{
	text-align: center;
	color: grey;
}
.gambar{
	margin-bottom: 20px;
	width: 120px;
	border-radius: 50%;
}
h6{
	position: fixed;
	right: 4.5%;
	color: grey;
}
.btn{
	background-color: #C0392B;
	border-color: #C0392B;
	margin-top: 20px;
}
.btn:hover{
	background-color: #C0392B;
	border-color: #C0392B;
	opacity: 0.5;
}
footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}