.container{
	margin-top: 56px;
	margin-bottom: 60px;
}
h2{
	text-align: center;
}
.navbar{
	padding-left: 4.5%;
}
h6{
  position: fixed;
  right: 4.5%;
  color: grey;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}

footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
.btn{
  background-color: #C0392B;
  border-color: #C0392B;
}
.btn:hover{
  background-color: #fff;
  color: #C0392B;
  border-color: #C0392B;

}
input{
	border: 2px solid grey;
}
.checkbox{
	left: 0px;
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #C0392B;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #C0392B;
  border: 2px solid #C0392B;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 4px;
  margin-top: 10px;
}



/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}