.container{
	margin-top: 90px;
	margin-bottom: 60px;
}
.navbar{
	padding-left: 4.5%;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}
li{
	list-style-type: none;
}
li, h1{
	color: #C0392B;
	text-align: center;
}
h1{
	margin: 10px;
}
.a{
	margin: 30px 0px 30px 0;
}
.kategori{
	border: 2px solid #C0392B;
	color: #fff;
	background-color: #C0392B;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
}
.kategori:hover{
	color: #fff;
	text-decoration: none;
	opacity: 0.5;
}
footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}