.container{
    padding-top: 70px;
    margin-bottom: 60px;
}
.navbar{
    padding-left: 4.5%;
}
#lacak{
    color: #C0392B;
    font-weight: bold;
}
h6{
    position: fixed;
    right: 4.5%;
    color: grey;
}
.kembali{
    color: #C0392B;
}
.kembali:hover{
    color: #C0392B;
    text-decoration: none;;
    opacity: 0.8;
}
.btn{
    background-color: #C0392B;
    border-color: #C0392B;
}
.cari{
    margin-left: 20%;
    margin-right: 100px;
}
.btn:hover{
    background-color: #C0392B;
    border-color: #C0392B;
    opacity: 0.8;
}
.hasilcari{
    margin-left: 40%;
}
.row{
    margin-top: 20px;
}
#buat{
    color: #C0392B;
}
.gambar{
    width: 80px;
    border-radius: 50%;
}
#laporanku{
    background-color: #C0392B;
}
#laporanku:hover{
    opacity: 0.8;
}
hr{
    border-color: grey;
}
footer{
    background-color: #C0392B;
    color: #fff;
    text-align: center;
    height: 5%;
    padding: 3px 0px 3px 0px;
}