#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#tombol.btn{
	background-color: white;
	color: #C0392B;
	border-color: #C0392B;
	margin-top: 10px;
	margin-right: 80px;
	margin-left: 80px;
	padding: 3px;
	font-size: 18px;
	display: block;
	text-align: center;
}
#menu.nav-item{
	color: #C0392B;
}
li{
	list-style-type: none;
}
.konten{
	text-align: center;
	color: #C0392B;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
}
.setting{
	font-size: 18px;
	color: grey;

}
.profil{
	border-radius: 50%;
	width: 80px;
	margin-top: 10px;
}
.biodata {
	text-align: left;
}
.icon {
	margin: 10px;
	width: 24px;
	height: 24px;
}
.data{
	display: inline-block;
	color: black;
}
.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}
