#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#menu.nav-item{
	color: #C0392B;
}
#kirim.nav-link{
	background-color: #C0392B;
}
#stat.nav-link, #cek.nav-link{
	color: #C0392B;
}
#tombol-sort.btn, #tombol-filter.btn, .btn{
	background-color: #C0392B;
	color: white;
	border: #C0392B;
}
#tombol-filter.btn{
	padding: 0px 23px 0px 23px;
}
#dinas{
	font-size: 20px;
	font-weight: bold;
}
.gambar{
	width: 80px;
	border-radius: 50%;
}
li{
	list-style-type: none;
}
#lihat{
	background-color: #C0392B;
}
.nama{
	color: grey;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	border-radius: 5px;
}
#kembali{
	text-align: left;
	color: #C0392B;
	text-decoration: none;
}
.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}
