#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#daftar.btn{
	background-color: white;
	color: #C0392B;
	border-color: #C0392B;
	padding: 3px;
	padding-right: 7px;
	padding-left: 7px;
	font-size: 18px;
}
#menu.nav-item{
	color: #C0392B;
}
.konten{
	color: #C0392B;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
}
.about{
	color: grey;
	font-size: 20px;
}
.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
}