.container{
	margin-top: 20px;
	margin-bottom: 60px;
}
.navbar{
	padding-left: 4.5%;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}
.daftar{
	padding: 3px 7px 3px 7px;
	background-color: #C0392B;
	color: white;
	border-color: #C0392B;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.5px;
	position: fixed;
	right: 4.5%;
}
.daftar:hover{
	text-decoration: none;
	color: #C0392B;
	background-color: white;
	border: 2px solid #C0392B;
}
li{
	list-style-type: none;
}
li, h1{
	color: #C0392B;
	text-align: center;
}
h1{
	margin: 10px;
}
footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}