.container{
	margin-top: 70px;
	margin-bottom: 60px;
}
.navbar{
	padding-left: 4.5%;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}
#cek{
	background-color: #C0392B;
}
#cek:hover{
	opacity: 0.5;
}
#statistik{
	color: #C0392B;
}
.sort-filter{
	margin: 10px 0px 10px 0px;
	width: 75%;
	text-align: center;
}
.btn.filter{
	padding-left: 23px;
	padding-right: 23px;
	color: #fff;
}
.filter{
	margin-bottom: 20px;
}
.btn{
	background-color: #C0392B;
	border-color: #C0392B;
}
.gambar{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 15%;
}
.akun{
	position: fixed;
	right: 4.5%;
	color: grey;
}
.lihat:hover, .btn:hover{
	background-color: #C0392B;
	border-color: #C0392B;
	text-decoration: none;
	opacity: 0.5;
}
.kembali{
	color: #C0392B;
}
.lihat{
	background-color: #C0392B;
	color: #fff;
	font-size: 14px;
	padding: 3px 7px 3px 7px;
	border-radius: 3px;
	margin-top: 50%;
	margin-bottom: 50%;
}
hr{
	border-color: grey;
}
.col-4{
	padding-top: 20px;
	padding-left: 2px;
}
.col-5{
	padding-top: 10px;
	padding-left: 20px;
}
.ubah:hover, .btn:hover{
	background-color: #C0392B;
	border-color: #C0392B;
	text-decoration: none;
	opacity: 0.5;
}
footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}