#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#daftar.btn{
	background-color: white;
	color: #C0392B;
	border-color: #C0392B;
	padding: 3px;
	padding-right: 7px;
	padding-left: 7px;
	font-size: 18px;
}
#menu.nav-item{
	color: #C0392B;
}
.konten{
	text-align: center;
	color: #C0392B;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
}
h1{
	font-size: 36px;
	margin-bottom: 30px;
}
li{
	list-style-type: none;
	font-size: 20px;
}
#hr{
	width: 80%;
	color: #C0392B;
}
.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}