#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#daftar.btn{
	background-color: white;
	color: #C0392B;
	font-size: 18px;
}
#menu.nav-item{
	color: #C0392B;
}
.konten{
	text-align: left;
	color: #C0392B;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
}
h1{
	font-size: 36px;
	margin-bottom: 30px;
}
#pills-tab.nav{
	
}
li{
	list-style-type: none;
	font-size: 20px;
}
#hr{
	width: 80%;
	color: #C0392B;
}
.profil{
	border-radius: 50%;
	width: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#isi{
	margin-top: 20px;
	display: inline-block;
}

.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
}