#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#daftar.btn{
	background-color: white;
	color: #C0392B;
	border-color: #C0392B;
	padding: 3px;
	padding-right: 7px;
	padding-left: 7px;
	font-size: 18px;
}
#menu.nav-item{
	color: #C0392B;
}
.konten{
	color: #C0392B;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
}
.masuk{
	text-align: center;
}
#kembali{
	text-align: left;
	color: #C0392B;
	text-decoration: none;

}
li{
	list-style-type: none;
}
#kategori.btn{
	background-color: #C0392B;
	color: white;
	margin: 7px;
}
.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}