#judul.navbar-brand{
	color: #C0392B;
	font-size: 24px;
}
#daftar.btn{
	background-color: white;
	color: #C0392B;
	border-color: #C0392B;
	padding: 3px;
	padding-right: 7px;
	padding-left: 7px;
	font-size: 18px;
}
#menu.nav-item{
	color: #C0392B;
}
.konten{
	color: #C0392B;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
}
#kembali{
	text-align: left;
	color: #C0392B;
	text-decoration: none;
}
.daftar{
	text-align: center;
}

li{
	list-style-type: none;
	text-align: center;
}
.judul{
	text-align: center;
}
h1 {
	text-align: center;
}
#tombol.btn{
	background-color: #C0392B;
	border-color: #C0392B;
}
#or{
	text-align: center;
	margin: 15px;
}
#facebook.btn{
	background-color: #3B5998;
	color: white;
	margin: 7px;
	padding: 3px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 20px;
}

#twitter.btn{
	background-color: #55ACEE;
	color: white;
	margin: 7px;
	padding: 3px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 20px;
}

#google.btn{
	background-color: #dd4b39;
	color: white;
	margin: 7px;
	padding: 3px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 20px;
}
.footer{
	text-align: center;
	background-color: #C0392B;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}