.container{
	margin-top: 70px;
	margin-bottom: 60px;
}
.navbar{
	padding-left: 4.5%;
}
#lacak{
	color: #C0392B;
	font-weight: bold;
}
h6{
	position: fixed;
	right: 4.5%;
	color: grey;
}
#buat{
	background-color: #C0392B;
}
#laporan{
	color: #C0392B;
}
#kirim{
	border-color: #C0392B;
	background-color: #C0392B;
	margin-top: 30px;
}
#kirim:hover{
	opacity: 0.5;
}
sup{
	color: red;
	font-size: 16px;
}
h1{
	text-align: center;
	color: #C0392B;
	margin: 20px 0 20px 0;
}

footer{
	background-color: #C0392B;
	color: #fff;
	text-align: center;
	height: 5%;
	padding: 3px 0px 3px 0px;
}


